.newsCard {
    display: flex;
    flex-direction: column;
    color: #4d5b7c;
    max-width: 700px;
    min-height: 420px;
    gap: 10px;

    .img {
        width: 100%;

        img {
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
        }
    }

    .information {
        display: flex;
        gap: 15px;

        i {
            color: #1ecb15;
            margin: 0 5px;
        }
    }

    .cardHeader {
        color: black;
        font-size: 24px;
        font-weight: 700;
    }
}