.countSection {
    padding: 5% 8%;
    background-color: #1ecb15;

    .cardCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        gap: 30px;


        .card {
            background-color: white;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            border-radius: 15px;

            .count {
                font-size: 40px;
                font-weight: 600;
                color: #1ecb15;
            }

            h4 {
                color: #35404e;
            }

            .text {
                color: #35404e;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .countSection {
        .cardCont {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and (max-width: 680px) {
    .countSection {
        .cardCont {
            grid-template-columns: 1fr;
        }
    }
}