.countSection {
    padding: 5% 8%;

    .cardCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        gap: 30px;


        .card {
            background-color: white;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            border-radius: 15px;
            box-shadow: rgba(111, 207, 140, 0.534) 0px 7px 29px 0px;

            .count {
                font-size: 40px;
                font-weight: 600;

                .increasingNumber {
                    color: #1ecb15 !important;
                }
            }

            h4 {
                color: #35404e;
            }

            .text {
                color: #35404e;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .countSection {
        .cardCont {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and (max-width: 680px) {
    .countSection {
        .cardCont {
            grid-template-columns: 1fr;
        }
    }
}