.detailPage {

    .rentHero {
        margin: 70px 0;
        background-image: url("https://www.madebydesignesia.com/themes/rentaly/images/background/2.jpg");
        padding: 130px 0;
        background-size: cover;
        background-position: center;

        h1 {
            text-align: center;

            color: white;
        }
    }

    .pageCont {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
        min-height: 100vh;

        .carInfo {
            width: 75%;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            .img {
                max-width: 650px;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            .details {
                max-width: 260px;
                color: #4d5b7c;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .carName {
                    font-size: 32px;
                    font-weight: 700;
                    color: #031b4e;
                }

                .carDescription {
                    font-size: 20px;
                }

                .specification {
                    h4 {
                        color: #031b4e;
                    }

                    display: flex;
                    flex-direction: column;

                    gap: 10px;

                    div {
                        display: flex;
                        font-size: 18px;
                        justify-content: space-between;
                        border-bottom: 1px solid gainsboro;

                        .colored {
                            color: #031b4e;
                            font-weight: 600;
                        }

                        span {
                            width: 200px;
                            padding-bottom: 2px;
                            text-align: left;
                        }
                    }
                }
            }
        }

        .rentPanel {
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .bookThisCar {
                border: 1px solid gainsboro;
                border-radius: 5px;
                min-height: 350px;

                .header {
                    padding: 10% 6% 0 10%;
                    font-size: 20px;
                    color: #031b4e;
                    font-weight: 700;
                }
            }

            .dailyRate {
                width: 100%;
                background-color: #00000010;
                padding: 10% 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 15px;

                .text {
                    font-size: 18px;
                    color: #4d5b7c;
                }

                .price {
                    color: #031b4e;
                    font-size: 50px;
                    font-weight: 700;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .detailPage {
        .pageCont {
            flex-direction: column-reverse;
            gap: 45px;

            .carInfo {
                width: 90%;
                flex-direction: column;
                margin: 0 auto;

                .details {
                    margin: 5% auto;
                }
            }

            .rentPanel {
                width: 250px;
                margin: 0 auto;
            }
        }
    }
}