.headerTop {
    .content {
        padding: 15px 0;
        width: 85%;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        .info {
            display: flex;
            gap: 35px;

            span {
                color: #179510;
                padding: 0 15px 0 0;
            }
        }

        .social {
            display: flex;
            gap: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    background-color: black;
}

.navBar {
    width: 100%;
    position: absolute;
    top: 55px;
    left: 0;

    .content {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;


        a {
            color: black
        }

        .active {
            color: #179510;
        }

        .links {
            a {
                padding: 0 5px;
            }
        }

        .yourAccount {
            a {
                padding: 0 5px;
            }
        }
    }
}

.responsiveNavBar {
    display: none;

}

@media only screen and (max-width: 860px) {
    .headerTop {
        display: none;
    }

    .navBar {
        display: none;
    }

    .responsiveNavBar {
        display: flex;
        justify-content: space-between;
        position: relative;

        .dropDown {
            a {
                color: black;
            }

            background-color: white;
            position: absolute;
            display: flex;
            gap: 5px;
            flex-direction: column;
            width: 0;
            height: 0;
            overflow: hidden;
            left: 0;
            top: 55px;
            transition: .4s;
            opacity: 0;

            .links {
                display: flex;
                gap: 5px;
                flex-direction: column;

            }

            .yourAccount {
                a {
                    display: block;
                }
            }
        }

        .visibleDropDown {
            padding: 15px;
            width: 100%;
            height: min-content;
            opacity: 1;
        }
    }
}