.heroSection {
    min-height: 105vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-image: url("https://www.madebydesignesia.com/themes/rentaly/images/background/7.jpg");
    background-size: cover;
    background-position: 100% 150%;
    padding: 0 10%;

    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .header {
            color: #1ecb15;
            font-size: 22px;
            font-weight: bold;
        }

        .exploreTheWorld {
            font-size: 52px;
            font-weight: bold;
            color: #031b4e;
        }

        .smallText {
            color: #4d5b7c;
        }

        .buttons {
            display: flex;
            gap: 15px;

            .greenButton {
                .commonButton {
                    background-color: #179510;
                }
            }

            .blackButton {
                .commonButton {
                    background-color: black;
                }
            }
        }
    }

    .car {

        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .heroSection {
        grid-template-columns: 1fr;
        padding: 10% 0;
    }
}

@media only screen and (max-width:370px) {
    .heroSection {

        .text {
            padding: 0px;

            .buttons {
                gap: 3px;
            }

        }

        .image {
            height: 30vh;
            width: 99%;
        }
    }
}