.ourVehicle {
    margin: 4% 0;
    .slide {
        margin: 0 auto;
        width: 80%;

        .card {
            padding: 13px;
            width: 400px;
            height: 390px;
            border: 1px solid gray;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .img {
                height: 55%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 15px;

                .name {
                    display: flex;
                    justify-content: space-between;
                    color: #031b4e;

                    span {
                        color: black;
                    }
                }

                .detailedInfo {
                    display: flex;
                    gap: 15px;

                    div {
                        font-weight: 600;
                        color: #031b4e;

                        i {
                            color: #1ecb15;
                        }
                    }
                }
            }

            .price {
                padding: 0 15px;
                align-items: center;
                display: flex;
                justify-content: space-between;

                .dailyRate {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .daily {
                        color: #4d5b7c;
                    }

                    .price {
                        font-size: 26px;
                        font-weight: 900;
                        color: #031b4e;
                    }
                }

                .button {
                    height: max-content;

                    .commonButton {
                        background-color: #1ecb15;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}